[access]
	inheritFrom = All-Projects
[project]
	description = Android system general course by GlobalLogic Kharkiv, 2018-2019
[access "refs/*"]
	owner = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
[access "refs/for/refs/*"]
	read = group github/Kernel-GL-HRK
	push = group github/Kernel-GL-HRK/Android students 2018
	push = group github/Kernel-GL-HRK/GL-Trainers
	label-Code-Review = -2..+2 group github/Kernel-GL-HRK/GL-Trainers
	label-Code-Review = -1..+1 group github/Kernel-GL-HRK/Android students 2018
	label-Verified = -1..+1 group github/Kernel-GL-HRK/Android students 2018
	label-Verified = -1..+1 group github/Kernel-GL-HRK/GL-Trainers
	rebase = group github/Kernel-GL-HRK/GL-Trainers
	removeReviewer = group github/Kernel-GL-HRK/GL-Trainers
	submit = group github/Kernel-GL-HRK/GL-Trainers
[access "refs/heads/*"]
	read = group github/Kernel-GL-HRK
	create = group github/Kernel-GL-HRK/Android students 2018
	create = group github/Kernel-GL-HRK/GL-Trainers
	push = group github/Kernel-GL-HRK/Android students 2018
	push = +force group github/Kernel-GL-HRK/GL-Trainers
	pushMerge = group github/Kernel-GL-HRK/Android students 2018
	pushMerge = group github/Kernel-GL-HRK/GL-Trainers
[access "refs/tags/*"]
	push = +force group github/Kernel-GL-HRK/GL-Trainers
