[access]
	inheritFrom = All-Projects
[project]
	description = Android system general course by GlobalLogic Kharkiv, 2018-2019
[access "refs/*"]
	owner = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
[access "refs/for/refs/*"]
	read = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	push = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	label-Code-Review = -2..+2 group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	label-Verified = -1..+1 group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	rebase = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	removeReviewer = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	submit = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
[access "refs/heads/*"]
	read = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	create = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	push = +force group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	pushMerge = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
[access "refs/tags/*"]
	push = group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
	push = +force group user/Aleksandr Bulyshchenko (AleksandrBulyshchenko)
